// begin front page rotator

.slider{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
 
.card {
  max-width: 200%;
  margin:10px;
  background-color: rgb(203, 203, 203);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}

.card img{
  max-width: 90%;
  padding-left:30%
}

.card p {
  padding-top: 10px;
}
 
.header {
  max-width: 250px;
  padding-top:40px;
  align-items: center;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.header img {
  overflow: hidden;
}